@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Familjen Grotesk", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero {
  background-image: url("/public/background.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer utilities {
  .white-btn {
    background-color: white;
    border-radius: 5px;
    width: 80px;
    height: 40px;
  }
}
